{% extends 'base.html' %}
{% load staticfiles i18n %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block content %}
{% if form.errors %}
<p class="hippo-message error">{{ form.errors }}</p>
{% endif %}
<div class="grid-2 gutter-20">
  <div class="span-1">
    <fieldset>
      <legend>Тизимга кириш</legend>
      <form method="post" action="">
          {% csrf_token %}
          <table>
              <tr>
                  <td><label for="id_username">{% trans "Логин" %}:</label></td>
                  <td>{{ form.username }}</td>
              </tr>
              <tr>
                  <td><label for="id_password">{% trans "Пароль" %}:</label></td>
                  <td>{{ form.password }}</td>
              </tr>
          </table>
          <input class="button-darkblue" type="submit" value="{% trans "Кириш" %}" />
          <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </fieldset>
  </div>
</div>
{% endblock %}
