.icon-file {
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjAiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNDggNDgiIGZpbGw9IiNmYWxzZSIgPjxnPgk8cG9seWdvbiBmaWxsPSIjOTBDQUY5IiBwb2ludHM9IjQwLDQ1IDgsNDUgOCwzIDMwLDMgNDAsMTMgCSI+PC9wb2x5Z29uPjwvZz48cG9seWdvbiBmaWxsPSIjRTFGNUZFIiBwb2ludHM9IjM4LjUsMTQgMjksMTQgMjksNC41ICI+PC9wb2x5Z29uPjwvc3ZnPg==') 50% 50% no-repeat;
  background-size: 100%;
  width: 24px;
  height: 24px;
}
.icon-folder {
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjAiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNDggNDgiIGZpbGw9IiNmYWxzZSIgPjxnPgk8cGF0aCBmaWxsPSIjRkZBMDAwIiBkPSJNNDAsMTJIMjJsLTQtNEg4Yy0yLjIsMC00LDEuOC00LDR2OGg0MHYtNEM0NCwxMy44LDQyLjIsMTIsNDAsMTJ6Ij48L3BhdGg+PC9nPjxnPgk8cGF0aCBmaWxsPSIjRkZDQTI4IiBkPSJNNDAsMTJIOGMtMi4yLDAtNCwxLjgtNCw0djIwYzAsMi4yLDEuOCw0LDQsNGgzMmMyLjIsMCw0LTEuOCw0LTRWMTZDNDQsMTMuOCw0Mi4yLDEyLDQwLDEyeiI+PC9wYXRoPjwvZz48L3N2Zz4=') 50% 50% no-repeat;
  background-size: 100%;
  width: 24px;
  height: 24px;
}
.icon { /* Customizes all icons at once */
  display: inline-block;
}
