{% extends "base.html" %}
{% load i18n %}
{% block content %}
        <h1>{% trans "Барча файллар" %}</h1>
        <div class="hippo-search">
          <input class="search-box" placeholder="{% trans "Қидирув" %}" autofocus>
        </div>
        <div class="grid-1 gutter-40">
          <div class="span-1">
            <table class="hippo-table" style="width:100%">
              <colgroup>
                <col span="1" style="width:80px" />
                <col span="2" style="width:20%" />
              </colgroup>
              <thead>
                <tr>
                  <th>{% trans "Номи" %}</th>
                  <th>{% trans "Ҳажми" %}</th>
                  <th>{% trans "Ўзгартирилган вақти" %}</th>
                </tr>
              </thead>
              <tbody>
                {% for object in objects %}
                <tr>
                  <td>{{ object.Key }}</td>
                  <td>{{ object.Size|filesizeformat }}</td>
                  <td>{{ object.LastModified }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
{% endblock %}
