{% extends "base.html" %}
{% load i18n %}
{% block content %}
        <h1><span class="icon-browser"></span>&nbsp; {% trans "Барча файллар" %}</h1>
        <div class="hippo-search">
          <input class="search-box" placeholder="{% trans "Қидирув" %}" autofocus>
        </div>
        <div class="grid-1 gutter-40">
          <div class="span-1">
            <table class="hippo-table" style="width:100%">
              <colgroup>
                <col span="1" style="width:20px" />
                <col span="2" style="width:80%" />
              </colgroup>
              <thead>
                <tr>
                  <th>{% trans "Номи" %}</th>
                  <th>{% trans "Тури" %}</th>
                  <th>{% trans "Ўзгартирилган вақти" %}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><span class="icon icon-folder"></span>&nbsp; Mening papkam</td>
                  <td>{% trans "Папка" %}</td>
                  <td>Кеча соат 10:04 да</td>
                </tr>
                <tr>
                  <td><span class="icon icon-file"></span>&nbsp; foobar.txt</td>
                  <td>{% trans "Матнли файл" %}</td>
                  <td>Бугун соат 12:32 да</td>
                </tr>
                <tr>
                  <td><span class="icon icon-file"></span>&nbsp; foobar.txt</td>
                  <td>{% trans "Матнли файл" %}</td>
                  <td>Бугун соат 12:32 да</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
{% endblock %}
