{% extends "base.html" %}
{% load i18n %}
{% block content %}
        <div class="hippo-actions-bar">
          <a class="action button-blue smaller" href="">{% trans "Янги папка" %}</a>
          <a class="action button-gray smaller" href="">{% trans "Кўчириш" %}</a>
          <a class="action button-magenta smaller right" href="">{% trans "Ўчириш" %}</a>
          <a class="action button-green smaller right" href="">{% trans "Юклаб олиш" %}</a>
        </div>
        <div class="grid-1 gutter-40">
          <div class="span-1">
            <table class="hippo-table" style="width:100%">
              <colgroup>
                <col span="1" style="width:80%" />
                <col span="2" style="width:20%" />
              </colgroup>
              <thead>
                <tr>
                  <th>{% trans "Номи" %}</th>
                  <th>{% trans "Ҳажми" %}</th>
                  <th>{% trans "Ўзгартирилган вақти" %}</th>
                </tr>
              </thead>
              <tbody>
                {% for object in objects.CommonPrefixes %}
                <tr>
                    <td><a href="{% url "workspace" %}?dir={{ object.Prefix|slice:":-1" }}">{{ object.Prefix|slice:":-1" }}</a></td>
                  <td>—</td>
                  <td>—</td>
                </tr>
                {% endfor %}
                {% for object in objects.Contents %}
                <tr>
                  <td>{{ object.Key }}</td>
                  <td>{{ object.Size|filesizeformat }}</td>
                  <td>{{ object.LastModified }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
{% endblock %}
