{% load i18n %}
			<ul>
        <li class="active"><a href="#"><span class="icon-browser"></span>&nbsp; {% trans "Барча файллар" %}</a></li>
        <li><a href="#"><span class="icon-camera"></span>&nbsp; {% trans "Расмлар" %}</a></li>
        <li><a href="#"><span class="icon-video"></span>&nbsp; {% trans "Видеолар" %}</a></li>
        <li><a href="#"><span class="icon-mic"></span>&nbsp; {% trans "Мусиқалар" %}</a></li>
        <li><a href="#"><span class="icon-document"></span>&nbsp; {% trans "Ҳужжатлар" %}</a></li>
        <li><a href="#"><span class="icon-puzzle"></span>&nbsp; {% trans "Улашилганлар" %}</a></li>
        <li><a href="#"><span class="icon-recycle"></span>&nbsp; {% trans "Ўчирилганлар" %}</a></li>
			</ul>
